.admin-product {
  &__header {
    display: flex;
    column-gap: 20px;
    padding: 20px 0px;

    &-item {
      font-size: 20px;
      color: #292929;
    }
  }

  &__img {
    max-width: 200px;
    margin: 20px 0px;
  }

  &__main {
    margin-top: 40px;
    display: flex;
    column-gap: 40px;
    &-left {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    &-item {
      position: relative;
      min-width: 200px;
      padding: 20px;
      border: 4px solid #edecec;
      border-radius: 20px;
      color: $black;
    }

    &-btn {
      &-change {
        margin-right: 20px;
      }
    }

    &-add {
      &-card {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &-title {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
      }

      &-title {
        .btn {
          margin-right: 20px;
        }
      }
    }
  }
}
