.admin {
  &__login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &-form {
      display: flex;
      flex-direction: column;
    }
  }

  &__header {
    display: flex;
    column-gap: 20px;
    padding: 20px 0px;

    &-item {
      font-size: 20px;
    }
  }

  &__main {
    margin-top: 40px;
    display: flex;
    column-gap: 40px;
    &-left {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    &-item {
      position: relative;
      min-width: 200px;
      padding: 20px;
      border: 4px solid #edecec;
      border-radius: 20px;
      color: $black;
    }
  }
}
