.card-detail {
  margin-bottom: 60px;
  .catalog__cart {
    position: sticky;
    top: 40px;
    // max-width: 270px;
    // flex: 1 1 auto;
    flex: 0 0 270px;
  }

  .card__btn {
    opacity: 1;
    visibility: visible;
    position: inherit;
    transform: none;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 40px;
  }

  &__case {
    flex: 1 1 auto;
  }

  &__info {
    display: flex;
    column-gap: 30px;
    &-left {
      max-width: 450px;
    }

    &-right {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-title {
      font-size: 32px;
      margin-bottom: 20px;
    }

    &-prices {
      display: flex;
      align-items: center;
      column-gap: 15px;
      margin-bottom: 10px;
    }

    &-price {
      font-size: 28px;
      color: #ff91a4;

      &--old {
        color: #d5d7d4;
        text-decoration: line-through;
      }
    }

    &-description {
      margin-bottom: 20px;
    }

    &-counter {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      margin-bottom: 15px;
    }

    &-list {
      display: flex;
      column-gap: 4px;
    }

    &-item {
      display: flex;
      column-gap: 4px;

      &-text {
        color: #ff91a4;
      }
    }
  }

  &__bottom {
    margin-top: 20px;
    border-bottom: 1px solid #d8e8ec;

    &-title {
      border-bottom: 4px solid #edecec;
      span {
        display: inline-block;
        text-decoration: none;
        min-width: 112px;
        padding: 13px 20px;
        font-weight: 500;
        font-size: 20px;
        color: #1c3545;
        margin-bottom: -4px;
        border-bottom: 4px solid #ff91a4;
      }
    }

    &-description {
      padding: 35px 20px;
      line-height: 29px;
      font-size: 18px;
    }
  }

  @media screen and (max-width: $table) {
    .catalog__cart {
      display: none;
    }
  }
}
