.catalog {
  margin-bottom: 60px;
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, auto));
    gap: 30px;
  }

  &__search {
    input {
      width: 100%;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__count {
    font-size: 17px;
  }

  &__container {
    display: flex;
    column-gap: 15px;
  }

  &__left {
    flex: 1 1 auto;
  }

  &__right {
    flex: 1 1 auto;
    max-width: 270px;
  }

  &__tags {
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  @media screen and (max-width: $table) {
    &__items {
      grid-template-columns: repeat(auto-fill, minmax(205px, auto));
      gap: 15px;
    }
  }

  @media screen and (max-width: $mobile) {
    .card {
      max-width: none;

      &__img {
        max-width: none;
      }
    }

    &__count {
      font-size: 14px;
    }

    &__items {
      grid-template-columns: repeat(auto-fill, minmax(245px, auto));
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__right {
      order: -1;
      max-width: none;
    }

    &__cart {
      display: none;
    }
  }

  @media screen and (max-width: $mediumMobile) {
    &__items {
      grid-template-columns: repeat(auto-fill, minmax(170px, auto));
    }
  }
}
