body {
  font-family: $fontFamily, $fontDefault !important;
}


.body--active {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 51px;
  font-weight: 700;
}

.h1 {
  font-size: 51px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 500;

  @media screen and (max-width: $mobile) {
    font-size: 36px;
  }
}

.h2 {
  font-size: 48px;
  font-weight: 500;
}

h3 {
  font-family: $fontFamily, $fontDefault;
  font-size: 28px;
  line-height: 39px;
  color: #4b4342;
}

.h3 {
  font-family: $fontFamily, $fontDefault;
  font-size: 28px;
  line-height: 39px;
  color: #4b4342;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.container {
  max-width: 1210px;
  padding: 50px 20px;
  padding-top: 30px;
  margin: 0 auto;
}

.btn-custom {
  font-family: $fontFamily, $fontDefault;
  background-color: transparent;
  border-color: #ffffff;
  display: inline-block;
  line-height: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  white-space: nowrap;
  font-size: 14px;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  border: 3px solid;
  max-height: 50px;
  color: $aquamarine;
  transition: all 0.5s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    width: calc(40% - 1px);
    box-sizing: border-box;
    overflow: hidden;
    border: 3px solid;
    border-color: inherit;
    left: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right-color: transparent;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    width: calc(40%);
    box-sizing: border-box;
    overflow: hidden;
    border: 3px solid;
    border-color: inherit;
    right: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left-color: transparent;
  }

  span {
    position: absolute;
    z-index: 1;
    left: 0;
    height: 15px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-color: inherit;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 50%;
      margin-left: -30px;
      height: 60px;
      width: 60px;
      box-sizing: border-box;
      border: 3px solid;
      border-radius: 50%;
      background-color: transparent;
      border-color: $aquamarine;
      transition: all 0.5s ease-in-out;
    }

    &:first-child {
      top: -18px;

      &::before {
        top: 3px;
      }
    }

    &:last-child {
      bottom: -18px;

      &::before {
        bottom: 3px;
      }
    }
  }

  &__large {
    width: 270px;
    font-size: 26px;
    line-height: 50px;
    margin: 20px 0;
    border: 0;
    span {
      height: 18px;
      &::before {
        margin-left: -40px;
        height: 80px;
        width: 80px;
        background-color: transparent;
        border-color: $aquamarine;
      }

      &:first-child {
        top: -18px;
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: #ffffff;
      background-color: $aquamarine;
      border-color: $aquamarine;
      span {
        &::before {
          background-color: $aquamarine;
          border-color: $aquamarine;
        }
      }
    }
  }
}

.burger {
  width: 30px;
  height: 20px;
  background-color: inherit;
  border: none;
  position: absolute;
  padding: 0;

  &--active {
    .burger {
      &__container {
        span {
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
        }

        &::after {
          transform: rotate(-45deg);
          top: 10px;
          transition: all 0.3s ease-in-out;
        }

        &::before {
          transform: rotate(45deg);
          top: 10px;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  &__container {
    width: 30px;
    height: 20px;
    position: relative;
    span {
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #212529;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      background-color: #212529;
      top: 0;
      transition: all 0.3s ease-in-out;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      background-color: #212529;
      top: 100%;
      transition: all 0.3s ease-in-out;
    }
  }
}

.menu {
  position: absolute;
  overflow: hidden;
  height: 0;
  width: 100vw;
  background-color: #ffffff;
  top: 86px;
  transition: all 0.3s ease-in-out;
  z-index: 10;

  &--active {
    height: calc(100dvh - 86px);
    transition: all 0.3s ease-in-out;
  }

  &__container {
    padding: 40px;
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-style: solid;
  border-width: 3px;
  line-height: 1.066667em;
  color: inherit;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  border-color: #4b4342;
  transition: all 0.3s ease-in-out;
  &--brown {
    background-color: #4b4342;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border-color: #4b4342;
      background-color: #ffffff;
      color: #4b4342;
      transition: all 0.3s ease-in-out;
    }
  }
}

.input {
  display: inline-block;
  font-family: $fontFamily, $fontDefault;
  background-color: #fff;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid #edecec;
  max-width: 100%;
  min-width: 160px;
  min-height: 42px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.border-custom {
  position: relative;
  padding: 20px;
  border: 4px solid #edecec;
  border-radius: 20px;

  &::before {
    content: "";
    background-image: url("../assets/svg/border-custom__decor.jpg");
    width: 87px;
    height: 36px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.breadcrumb {
  display: flex;
  justify-content: center;
  &__link {
    font-size: 20px;
    color: #ffffff;
    &:not(:first-child) {
      &::before {
        content: "/";
        margin: 0px 5px;
      }
    }
  }
}

.main-banner {
  margin-top: -20px;
  margin-bottom: 80px;
  height: 340px;
  background-image: url("../assets/images/main-banner-bg.jpg");
  mask-image: url("../assets/images/skeleton-banner.svg");
  mask-position: bottom;
  mask-size: cover;
  mask-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;

  &__container {
    text-align: center;
  }

  &__title {
    color: #ffffff;
  }

  @media screen and (max-width: $mobile) {
    margin-bottom: 30px;
  }
}

.card {
  border: none;
  display: flex;
  flex-direction: column;
  max-width: 270px;
  &__img {
    position: relative;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    max-width: 270px;
    // height: 270px;
    img {
      width: 100%;
      height: 100%;
      // object-fit: cover;
      object-fit: contain;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        .card__btn {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__btn {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    // background-color: $white;
    border-radius: 20px;
    outline: none;
    border: none;
    white-space: nowrap;
    padding: 10px;
    font-size: 16px;
    background-color: $aquamarine;
    color: #ffffff;
    transition: all 0.3s ease-in-out;

    &--cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100px;
      padding: 0;
      overflow: hidden;
      opacity: 1;
      visibility: visible;
      background-color: $darkGray;
      color: $white;
      button {
        font-size: 20px;
        background-color: $white;
        color: $black;
        padding: 5px 10px;
        border: none;
      }
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $darkGray;
        color: $white;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__link-img {
    display: block;
    height: 100%;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 20px;
    color: #4b4342;
    transition: all 0.3s ease-in-out;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: #5fcac7;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .star-ratings {
    margin-bottom: 5px;
  }

  &__prices {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  &__price {
    font-size: 17px;
    &--sale {
      text-decoration: line-through;
      color: #d5d7d4;
    }
  }

  &__sale {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    // z-index: 2;
    top: 5px;
    left: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    // line-height: 70px;
    color: #fff;
    background-color: #ff91a4;
  }

  @media screen and (max-width: $mobile) {
    &__sale {
      width: 50px;
      height: 50px;
      font-size: 14px;
    }

    &__btn {
      opacity: 1;
      visibility: visible;
      bottom: 10px;
      font-size: 14px;
    }
  }
}

.select {
  width: fit-content;
  .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background-color: #f2f2f2 !important;
    padding: 6px 10px;
    border: none;
    color: $black !important;
    width: 200px;
    text-align: start;

    &::after {
      right: 0;
    }
  }

  .dropdown-menu {
    width: 100%;
    box-shadow: 4px 9px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
    overflow: auto !important;
    max-height: 200px;
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }

  &__close {
    background-image: url("/assets/svg/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-color: inherit;
    border: none;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 10px 0 5px;

    border: none;
    &:not(:last-child) {
      border-bottom: 1px solid #dcdcdc;
    }
  }

  &__text {
    background-color: inherit;
    outline: none;
    width: 100%;
    padding: 8px 0px 8px 5px;

    &--active {
      pointer-events: none;
      color: #5fcac7;
    }

    &:active {
      color: $black;
      background-color: inherit;
    }
  }

  @media screen and (max-width: $mobile) {
    .dropdown-toggle {
      width: 150px;
    }
  }
}

.tag {
  span {
    cursor: pointer;
    padding: 6px 12px;
    font-size: 16px !important;
    color: #fff;
    display: inline-block;
    border-radius: 30px;
    background-color: #ff91a4;
    transition: all 0.3s ease-in-out;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $aquamarine;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  input {
    display: none;
  }

  input:checked {
    & + span {
      background-color: $aquamarine;
    }
  }
}

.cart {
  &__title {
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #4b4342;
  }

  &__item {
    // position: relative;
    display: flex;
    column-gap: 15px;
    justify-content: space-between;

    &-case {
      display: flex;
      column-gap: 15px;
    }

    &-delete {
      margin-left: 0;
      cursor: pointer;
      top: 0px;
      right: 10px;
      background-image: url("/assets/svg/close.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      width: 20px;
      height: 20px;
      background-color: inherit;
      border: none;
    }

    &-title {
      font-weight: 500;
      color: #4b4342;
      font-size: 18px;
      transition: all 0.3s ease-in-out;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: $aquamarine;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    &-price {
      margin-top: 8px;
      font-size: 18px;
      color: $aquamarine;
    }

    &-left {
      img {
        object-fit: contain;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 20px;
  }

  &__result {
    font-size: 18px;
    margin-bottom: 10px;
    background: #f8f8f8;
    padding: 12px 0;
    text-align: center;
    border-radius: 30px;

    span {
      font-weight: 600;
    }
  }

  &__btn {
    .btn {
      width: 100%;
      font-size: 18px;
    }
  }
}
